<!DOCTYPE html>
<html>
<head>
	<title>DojoMusicHub</title>
	<meta charset="utf-8">
</head>
<body>
	<% if flash[:notice] %>
		<ul>
		<% flash[:notice].each do |m| %>
			<%= m %>
		<% end %>
		</ul>
	<% end %>
	<div><h2>Register</h2>
		<form action="/users/register" method="POST">
			<input name="authenticity_token" value="form_authenticity_token" type="hidden">
			<p><label>First Name: </label><input type="text" name="user[first_name]"></p>
			<p><label>Last Name: </label><input type="text" name="user[last_name]"></p>
			<p><label>Email: </label><input type="text" name="user[email]"></p>
			<p><label>Password: </label><input type="password" name="user[password]"></p>
			<p><input type="submit" name="register" value="Register"></p>
		</form>
	</div>
	<div><h2>Login</h2>
		<form action="/users/login" method="POST">
			<input name="authenticity_token" value="form_authenticity_token" type="hidden">
			<p><label>Email: </label><input type="text" name="user[email]"></p>
			<p><label>Password: </label><input type="password" name="user[password]"></p>
			<p><input type="submit" name="login" value="Login"></p>
		</form>
	</div>
</body>
</html>
